table {
      width: 100%;
      border-collapse: collapse;
    }
    
th,td{
    border: 2px solid black;
    padding: 10px;
    text-align: center;
    /* color: red; */
}
th {
      background-color: #f9f9f9;
    }