
@import 'partials/variables';
@import 'partials/mixins';

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: $base-font-family;
}

.header-container {
    background: $bg-gray;
}

.centered-container {
    width: 80vw;
    margin: 0 auto;
}

.nav-list {
    list-style: none;
    display: flex;
    gap: 50px;

    a {
        text-decoration: none;
        color: $text-color;
    }
}

.button {
    padding: 10px 20px;
    border: none;
    background-color: $text-color;
    color: white;
    cursor: pointer;
    border-radius: 6px;
}

.primary-button {
    background: #4CAF4F;
    color: #fff;
}

.secondary-button {
    background: transparent;
    color: #4CAF4F;
}

.flex-center {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-section {
    padding: 22px 0;
}

.heading-1 {
    font-size: 36px;
    font-weight: 500;
    color: $heading-gray;
}

.text-center {
    text-align: center;
}

.para {
    font-size: 16px;
    color:$para-color
}

.care-desc {
    width: 630px;
    margin: 0 auto;
    margin-top: 16px;
}

.care-container {
    padding-top: 48px;
}

.care-image-container {
    position: relative;
    width: 368px;
}

.care-text {
    position: absolute;
    background: #F5F7FA;
    width: 80%;
    left: 10%;
    height: 135px;
    top: 68%;
    border-radius: 6px;
    text-align: center;
    padding: 45px;
    box-sizing: border-box;
}

.care-image-wrapper {
    @include flex-center-space;
    padding: 50px 0px;
}


// my css 

.Clients-logos{

}

.client-logo-container{

display: flex;
align-items: center;
justify-content:space-around
}

.community-heading{
    width: 600px;
    margin: 0 auto;
}
.community-image-wrapper{
    @include flex-center-space
}
.community-inner-container{
    width: 299px;
    height: 260px;
    // border: 2px solid red;
    box-shadow: 0 2px 4px 0px #ABBED133;
    border-radius: 2px;
    padding-top: 24px;
    padding-bottom: 24px;
    padding-left: 32px;
    padding-right: 24px;
    p{
        width: 251px;
        height: 60px;
        margin: 0 auto;
        text-align: center;
    }
}
.community-icon-heading-container{
    height: 144px;
    width: 267px;
    img{
        display: block;
        width: 65px;
        margin: 0 auto;
    }
    h1{
        font-size: 28px;
        color: $heading-gray;
        font-weight: 700;
        width: 299px;
        height: 72px;
        text-align: center;
        margin-top: 14px;
    }
}
.community-description-para{
    font-size: 14px;
    width: 251px;
    color: #717171;
    text-align: center;
    margin: 0 auto;
}

.footer{
    width: 100vw;
    height: 328px;
    background-color: $footer-color;

}
.border{
    @include box-border;
}
.footer-inner-container{
    @include flex-center-space;
   align-items: first baseline;
}
.social-box{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 189px;
    ul{
        display: flex;
        list-style: none;
        gap: 15px
    }
   
}

.footer-logo-image{
    width: 160px;
  height: 16px;
}
.company-support-form{
   @include flex-center-space;
   width: 60%;
   align-items: flex-start;
}
.footer-list{
    @include list-setting;
}

.footer-heading{
    font-size: 20px;
    color: $footer-heading-color;
    margin-bottom: 10px;
}

.footer-para{
    font-size: 16px;
    color:#F5F7FA;
}
.footer-company-ul{
 
    li{
    margin-bottom: 10px;
    }
}

.footer-input-container{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.footer-input-field{
    width: 255px;
}
.subscribe-box {
      display: flex;
      align-items: center;
      background-color: #2F3A44;
      border-radius: 8px;
      overflow: hidden;
    }

    .subscribe-box input {
      padding: 12px 16px;
      border: none;
      outline: none;
      background: transparent;
      color: #fff;
      font-size: 15px;
      width: 250px;
    }

    .subscribe-box input::placeholder {
      color: #bbb;
    }

    .subscribe-box button {
    background: transparent;
      border: none;
      padding: 0 18px;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: background 0.3s ease;
    }

    .subscribe-box button:hover {
     color: white;
    }

    .subscribe-box button img {
      width: 18px;
      height: 18px;
    }

    // banner css 

    .banner-section{
        background-color: #F5F7FA;
        height: 599px;
    }

    .banner-container{
  display: flex;
  align-items: start;
  align-content: space-evenly;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 50px;
  box-sizing: border-box;
    }

    .text-container{
        h3{
            color: #717171;
            line-height: 24px;
            font-size: 16px;
            font-weight: 400;
            margin-top: 5px;
        }
        button{
    height: 52px;
    width: 128px;
    padding: 10px 20px;
    border: none;
    background-color:#4CAF4F;
    color: white;
    cursor: pointer;
    margin-top: 15px;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    border-radius: 3px;
        }
    }
   .black-text{
            color: #4D4D4D;
            font-size: 64px;
            font-weight: 600;
        }
    .green-text{
        color: #4CAF4F;
        font-size: 64px;
            font-weight: 600;
    }


    // unlock section css 

.unlock-section{
    height: 433px;
}
.unlock-container{
    @include unlock-calender
}
.unlock-text-container{
    height: 268px;
    width: 661px;
    display: flex;
    gap: 20px;
    flex-direction: column;

    h1{
        width: 601px;
        line-height: 44px;
        color: #4D4D4D;
        font-size: 36px;
    }
    p{
        color: #717171;
    }

    button{
        @include green-btn
    }
}

// calender container css /

.calender-section{
    height: 433px;
}
.calender-container{
    @include unlock-calender
}
.calender-text-container{
    height: 268px;
    width: 661px;
    display: flex;
    gap: 20px;
    flex-direction: column;

    h1{
        width: 601px;
        line-height: 44px;
        color: #4D4D4D;
        font-size: 36px;
    }
    p{
        color: #717171;
    }

    button{
        @include green-btn
    }
}

// customer section 

.customer-image{
    width: 326px;
    height: 326px;
    border-radius: 8px;
}

.customer-container{
@include unlock-calender
}
.customer-text-container{
  height: 268px;
    width: 661px;
    display: flex;
    gap: 20px;
    flex-direction: column;  
    
    h1{
        // width: 601px;
        // line-height: 44px;
        color: #4CAF4F;
        font-size: 20px;
        font-weight: 600;
        line-height: 28px;
    }
    p{
        color: #717171;
    }
}

.customer-icon-container{
display: flex;
justify-content: center;
gap: 41px;
margin-top: 10px;
    img{
        height: 48px;
        width: 48px;
        border-radius: 8px;
    }
    h2{
        color: #4CAF4F;
        font-weight: 600;
        font-size: 20px;
        line-height: 28px;
        width: 188px;
        height: 28px;
    }

}

// demo container css /

   .demo-section{
        background-color: #F5F7FA;
        height: 300px;
        margin-top: 50px;
        padding-top: 50px;
    }

.demo-contianer{
display: flex;
flex-direction: column;
align-items: center;
  gap: 20px;
    h1{
        // color: #4CAF4F;
        font-size: 64px;
        width: 887px;
        height: 152px;
        font-weight: 600;
        line-height: 76px;
        text-align: center;
    }

    button{
        @include green-btn;
    }
}
