@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin flex-center-space{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 50px 0px;
}

@mixin box-border{
 border: 2px solid red;

}

@mixin list-setting{
    text-decoration: none;
    list-style: none;
    color:#F5F7FA;
    font-size: 14px;
    a:hover{
        color:blue;
    }
}

@mixin green-btn{
    color: white;
    background-color: #4CAF4F;
    width: 151px;
    height: 52px;
    border-radius: 4px;
    padding: 14px 32px;
    font-weight: 500;
}

@mixin unlock-calender{
  display: flex;
  align-items: start;
  align-content: space-evenly;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 50px;
  box-sizing: border-box;
}