$bg-gray: #F5F7FA;
$text-color: #18191F;
$base-font-family: Arial, sans-serif;
$heading-gray:#4D4D4D;
$para-color:#717171;
$footer-list-color:#F5F7FA;
$footer-color:#263238;
$footer-heading-color:#FFFFFF;
